{
  "parser": "babel-eslint",
  "parserOptions":{
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx":true
    }
  },

  "env":{
    "browser":true,
    "node": true,
    "es6": true
  },
  "extends": [
    // 보다 엄격한 eslint를 원한다면 airbnb "eslint-recommended","plugin:react/recommended"
    "airbnb"
  ],
  "plugins": [
    "import",
    "react-hooks"
  ],
  "rules": {
    // 너무 엄격한 것 무시
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": 0,
    "linebreak-style": 0,
    "react/jsx-filename-extension":0,
    "no-console": 0,
    "jsx-a11y/label-has-associated-control":0,
    "import/no-unresolved": 0,
    "object-curly-newline":0
  }
}